{{ partial "head.html" . }}

{{ $.Scratch.Set "headerTitle" (printf "Character: %s" .Title) }}
{{ $campaign := index (where (where .Site.Pages "Section" "campaigns") ".Params.name" .Params.campaign) 0}}
{{ $.Scratch.Set "headerSubtitle" (printf "Campaign: <a href=\"%s\" style=\"text-decoration: underline;\">%s</a>" $campaign.RelPermalink $campaign.Title | safeHTML) }}
{{ partial "header.html" . }}

<section class="section"><div class="container">

  <div class="columns">

    <div class="column is-three-quarters">

      <h3 class="title is-3">Current Stats</h3>
      {{ $stats := where (where (where .Site.Pages "Section" "stats") ".Params.campaign" .Params.campaign) ".Params.character" .Params.name }}
      {{ if le (len $stats) 0 }}
      <p>None yet</p>
      {{ else }}
      <div class="field is-grouped is-grouped-multiline">
      {{ $currentStats := index $stats 0 }}
        {{ range $currentStats.Params.stats }}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-primary">{{ title .name }}</span>
            <span class="tag">{{ .value }}</span>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}

      <h3 class="title is-3">Current Injuries</h3>
      {{ $injuries := where (where (where .Site.Pages "Section" "injuries") ".Params.campaign" .Params.campaign) ".Params.character" .Params.name }}
      {{ if le (len $injuries) 0 }}
      <p>None yet</p>
      {{ else }}
      <div class="columns is-multiline">
        {{ $currentInjuries := index $injuries 0 }}
        {{ range $injury := $currentInjuries.Params.injuries }}
        <div class="column is-2 is-one-third-mobile">
          <h5 class="subtitle is-5">{{ title .name }}</h5>
          <strong>Minor:</strong>
          {{ range $number := (seq .maxMinor)}}
          {{ if ge $injury.minor $number }}&#x2612;{{ else }}&#x2610;{{ end }}
          {{ end }}<br />
          <strong>Major:</strong>
          {{ range $number := (seq .maxMajor)}}
          {{ if ge $injury.major $number }}&#x2612;{{ else }}&#x2610;{{ end }}
          {{ end }}
        </div>
        {{ end }}
        <div class="column is-2 is-one-third-mobile">
          <h5 class="subtitle is-5">Strain</h5>
          {{ range $number := (seq $currentInjuries.Params.maxstrain)}}
          {{ if ge $currentInjuries.Params.strain $number }}&#x2612;{{ else }}&#x2610;{{ end }}
          {{ if eq $number 5 }}<br />{{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}

      <h3 class="title is-3">Background</h3>
      <div class="content">
        {{ .Content }}
      </div>

    </div>

    <div class="column is-one-quarter">

      <h3 class="title is-3">Current Inventory</h3>
      {{ $inventories := where (where (where .Site.Pages "Section" "inventories") ".Params.campaign" .Params.campaign) ".Params.character" .Params.name }}
      {{ if le (len $inventories) 0 }}
      <p>None yet</p>
      {{ else }}
      {{ $currentInventory := index $inventories 0 }}
      <h5 class="title is-5">Hands & Pockets</h5>
      {{ if and (le (len $currentInventory.Params.inventory.bag) 1) (eq (index $currentInventory.Params.inventory.bag 0) nil)}}
      <p>Empty</p>
      {{ else }}
      <div class="content">
        <ul>
          {{ range $currentInventory.Params.inventory.hands }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      
      <h5 class="title is-5">Bag</h5>
      {{ if not (isset $currentInventory.Params.inventory "bag") }}
      <p>None</p>
      {{ else if and (le (len $currentInventory.Params.inventory.bag) 1) (eq (index $currentInventory.Params.inventory.bag 0) nil)}}
      <p>Empty</p>
      {{ else }}
      <div class="content">
        <ul>
          {{ range $currentInventory.Params.inventory.bag }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ end }}

      <h3 class="title is-3">Current Equipment</h3>
      {{ $equipment := where (where (where .Site.Pages "Section" "equipment") ".Params.campaign" .Params.campaign) ".Params.character" .Params.name }}
      {{ if le (len $equipment) 0 }}
      <p>None yet</p>
      {{ else }}
      {{ $currentEquipment := index $equipment 0 }}
      <h5 class="title is-5">Clothing</h5>
      <div class="content">
        <p>
          <strong>Torso:</strong> {{ $currentEquipment.Params.clothing.torso }}<br />
          <strong>Legs:</strong> {{ $currentEquipment.Params.clothing.legs }}<br />
          <strong>Feet:</strong> {{ $currentEquipment.Params.clothing.feet }}
        </p>
      </div>
      <h5 class="title is-5">Accessories</h5>
      <div class="content">
        <p>
          <strong>Head:</strong> {{ $currentEquipment.Params.accessories.head }}<br />
          <strong>Neck:</strong> {{ $currentEquipment.Params.accessories.neck }}<br />
          <strong>Arms:</strong> {{ $currentEquipment.Params.accessories.arms }}<br />
          <strong>Back:</strong> {{ $currentEquipment.Params.accessories.back }}<br />
          <strong>Waist:</strong> {{ $currentEquipment.Params.accessories.waist }}<br />
          <strong>Legs:</strong> {{ $currentEquipment.Params.accessories.legs }}
        </p>
      </div>
      {{ end }}

    </div>

  </div>

</div></section>

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}