{{ partial "head.html" . }}

{{ $.Scratch.Set "headerTitle" .Title }}
{{ if and (isset .Params "categories") (isset .Params "tags") }}
  {{ $subtitle1 := delimit (apply .Params.categories "title" ".") ", " ", and " }}
  {{ $subtitle2 := delimit (apply .Params.tags "urlize" ".") ", " }}
  {{ $.Scratch.Set "headerSubtitle" (printf "Posted in %s<br />Tagged: %s" $subtitle1 $subtitle2 | safeHTML) }}
{{ else if isset .Params "categories" }}
  {{ $subtitle1 := delimit (apply .Params.categories "title" ".") ", " }}
  {{ $.Scratch.Set "headerSubtitle" (printf "Posted in: %s" $subtitle1) }}
{{ end }}
{{ partial "header.html" . }}

<section class="section"><div class="container">

  <div class="content">
    {{ if .Date }}<p><em>{{ .Date.Format  "Monday, January 2, 2006" }}</em></p>{{ end }}
    {{ .Content }}
  </div>

  <div id="commentsLoading">Loading comments...<div class="loader"></div></div>
  <script>
    (function(){
      var check = setInterval(function() {
        if (document.getElementById('hashover')) {
          document.getElementById('commentsLoading').innerHTML = '<h3 class="title is-3">Comments</h3>';
          var iframe = document.getElementById('commentLoadIframe');
          iframe.parentNode.removeChild(iframe);
          clearInterval(check);
        }
      });
    })();
    function loadComments (context) {
      setTimeout(function() {
        if (!document.getElementById('hashover')) {
          window.location.reload();
        }
      }, 1500);
    }
  </script>
  <iframe id="commentLoadIframe" width="0" height="0" src="http://frog.ga/hashover/comments.php" onload="(loadComments)()"></iframe>
  <div class="columns">
    <div class="column" id="comments">
      <script src="http://frog.ga/hashover/comments.php"></script>
    </div>
  </div>
</div></section>

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}