{{ partial "head.html" . }}

{{ $rulebooks := .Site.GetPage "page" "rulebooks.md" }}
{{ $.Scratch.Set "headerTitle" $rulebooks.Title }}
{{ partial "header.html" . }}

<section class="section"><div class="container">

  <div class="content">
    {{ $rulebooks.Content }}
  </div>

  {{ $books := where (where .Site.Pages "Section" "rules") ".Params.book" "self" }}
  {{ range $books }}
  <div class="box">
    <h3 class="title is-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  </div>
  {{ end }}

</div></section>

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}