<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
      <h2 class="title">{{ .Site.Title }}</h2>
    </a>

    <div class="navbar-burger" onclick="(function(){this.classList.toggle('is-active');document.getElementById('mainMenu').classList.toggle('is-active');}).call(this)">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="mainMenu">
    <div class="navbar-end">
      {{ range .Site.Params.NavLinks }}
      <a href="{{ .url }}" class="navbar-item">{{ .title }}</a>
      {{ end }}
    </div>
  </div>
</nav>

{{ if $.Scratch.Get "headerTitle" }}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{ $.Scratch.Get "headerTitle" }}
      </h1>
      {{ if $.Scratch.Get "headerSubtitle" }}
      <h2 class="subtitle">
        {{ $.Scratch.Get "headerSubtitle" }}
      </h2>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}