<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
      <h2 class="title">{{ .Site.Title }}</h2>
    </a>

    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      {{ range .Site.Params.NavLinks }}
      <a href="{{ .url }}" class="navbar-item">{{ .title }}</a>
      {{ end }}
    </div>
  </div>
</nav>
