<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

{{ $.Scratch.Set "headerTitle" .Title }}
{{ $.Scratch.Set "headerSubtitle" .Site.Params.Description }}
{{ partial "header.html" . }}

<section class="section">
  <div class="container">

    <div class="columns">

      <div class="column is-half">
        <div class="box">
          {{ $section := .Site.Params.Homepage.Section1 }}
          <h2 class="title is-2">{{ $section.header }}</h2>
          <div class="content">
            {{ markdownify $section.text }}
          </div>
          {{ if (isset $section "calltoaction") }}
          <a href="{{ $section.ctaURL }}" class="button">{{ $section.callToAction }}</a>
          {{ end }}
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          {{ $section := .Site.Params.Homepage.Section2 }}
          <h2 class="title is-2">{{ $section.header }}</h2>
          <div class="content">
            {{ markdownify $section.text }}
          </div>
          {{ if (isset $section "calltoaction") }}
          <a href="{{ $section.ctaURL }}" class="button">{{ $section.callToAction }}</a>
          {{ end }}
        </div>
      </div>

    </div>

    <div class="columns">

      <div class="column is-half">
        <div class="box">
          <h2 class="title is-2">Recent News</h2>
          <p>Updates and development process posts</p>
          {{ range first 5 (where .Data.Pages "Section" "posts") }}
          <div class="columns">
            {{ if (isset .Params "image") }}
            <div class="column is-2">
              <figure class="image is-square">
                <a href="{{ .RelPermalink }}">
                  <img src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
                </a>
              </figure>
            </div>
            {{ end }}
            <div class="column">
              <span class="is-pulled-right">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
              <h3 class="title is-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
              <div class="content">
                {{ truncate 300 "..." .Content }}
              </div>
            </div>
          </div>
          {{ end }}
          {{ if (gt (len .Data.Pages) 5)}}
          <a href="/posts" class="button">See More</a>
          {{ end }}
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          <h2 class="title is-2">Most Recent Campaign</h2>
          {{ $lastCampaign := index (sort (where .Data.Pages "Section" "campaigns") "Date" "desc") 0 }}
          {{ if (isset $lastCampaign.Params "image") }}
          <figure class="image is-16by9">
            <a href="{{ $lastCampaign.RelPermalink }}">
              <img src="{{ $lastCampaign.Params.Image.src }}" alt="{{ $lastCampaign.Params.Image.alt }}" />
            </a>
          </figure>
          {{ end }}
          <h3 class="title is-3"><a href="{{ $lastCampaign.RelPermalink }}">{{ $lastCampaign.Title }}</a></h3>
          <div class="content">
            {{ truncate 300 $lastCampaign.Content }}
          </div>
          <a href="{{ $lastCampaign.RelPermalink }}" class="button">Continue Reading</a>
        </div>
      </div>

    </div>

  </div>
</section>

{{ partial "footer.html" . }}

</body>
</html>
